<!DOCTYPE html>
<html>

<head>
    <title>关于 -
        <?php echo e($config['title']);?>
    </title>
    <meta charset="utf-8" />
    <meta name="keywords" content="<?php echo e($config['keywords']);?>" />
    <meta name="description" content="<?php echo e($config['description']);?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./assets/css/mdui.min.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/mdclub.css" />
</head>

<?php require "header.html";?>


<div class="mdui-container" id="about" v-cloak style="padding-bottom:40px;">

    <div class="user mdui-card mdui-card-shadow">
        <div class="cover" style="background-image: url('assets/images/user_bg.jpg');"></div>
        <div class="info">
            <div class="avatar-box" v-if="info.qqhead">
                <img :src="info.qqhead" alt="avatar" class="avatar" @error="$event.target.style.display='none'">
            </div>
            <div class="avatar-box" v-else>
                <img src="assets/images/user_bg.jpg" alt="avatar" class="avatar" style="object-fit:cover;opacity:0.3;">
            </div>
            <div class="mdui-valign mdui-text-color-theme-text mdui-m-l-3 mdui-typo-display-1 mdui-float-right" style="word-break:break-all;white-space:normal;text-align:right;max-width:60%;font-size:clamp(20px, 5vw, 32px);line-height:1.2;">{{ info.username || ' ' }}</div>
        </div>
    </div>

    <div class="mdui-card mdui-m-t-2" v-if="info.vxqrcode || info.aliqrcode || info.afdian || info.pay_desc">
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">给我打钱:D</div>
        </div>
        <div class="mdui-card-content">
            <div class="pay-desc-box" v-if="info.pay_desc">
                <p class="pay-desc-text">{{ info.pay_desc }}</p>
            </div>
            <div class="mdui-row mdui-text-center" v-if="info.vxqrcode || info.aliqrcode">
                <div class="mdui-col-md-6 mdui-col-xs-12 mdui-m-b-2" v-if="info.vxqrcode">
                    <p class="pay-label">微信支付</p>
                    <img :src="fixPayUrl(info.vxqrcode)" class="pay-qrcode" @error="onImgError($event)" />
                </div>
                <div class="mdui-col-md-6 mdui-col-xs-12 mdui-m-b-2" v-if="info.aliqrcode">
                    <p class="pay-label">支付宝</p>
                    <img :src="fixPayUrl(info.aliqrcode)" class="pay-qrcode" @error="onImgError($event)" />
                </div>
            </div>
            <div class="mdui-text-center mdui-m-t-2" v-if="info.afdian">
                <a v-if="isAfdianLink(info.afdian)" :href="info.afdian" target="_blank" rel="noopener noreferrer" class="mdui-btn mdui-btn-raised mdui-ripple afdian-btn">
                    <i class="mdui-icon material-icons mdui-m-r-1" style="font-size:18px;">favorite</i>爱发电 · 为我发电
                </a>
                <div v-else>
                    <p class="pay-label">爱发电</p>
                    <img :src="fixPayUrl(info.afdian)" class="pay-qrcode" @error="onImgError($event)" />
                </div>
            </div>
        </div>
    </div>
</div>


<?php require "footer.html";?>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/mdui.min.js"></script>
<script src="./assets/js/index.js"></script>
<script src="./assets/js/vue.js"></script>
<script>
    let about = new Vue({
        el: '#about',
        data: {
            info: {
                username: '',
                qqhead: '',
                href: '',
                vxqrcode: '',
                aliqrcode: '',
                afdian: '',
                pay_desc: ''
            },
        },
        methods: {
            fixPayUrl: function(url) {
                if (!url) return '';
                if (/^https?:\/\//i.test(url) || /^\/\//i.test(url)) return url;
                return './' + url.replace(/^\.\/?/, '');
            },
            isAfdianLink: function(url) {
                if (!url) return false;
                if (!/^https?:\/\//i.test(url) && url.indexOf('//') !== 0) return false;
                return !/\.(jpg|jpeg|png|gif|webp|bmp|svg)$/i.test(url);
            },
            onImgError: function(e) {
                e.target.style.display = 'none';
            }
        },
        created() {
            fetch('./Data/api.php?type=getUserInfo')
                .then(response => response.json())
                .then(json => {
                    if (json && json.code == 0 && json.data) {
                        this.info = json.data;
                    }
                })
                .catch(function() {
                    // 网络错误时使用默认值，页面不会空白
                })
        }
    });
</script>
</body>

</html>
