<!DOCTYPE html>
<html>
<head>
    <title>跳转中……</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="<?php echo e($config['keywords']);?>" />
    <meta name="description" content="<?php echo e($config['description']);?>" />
    <link rel="icon" href="<?php echo e($config['favicon']);?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./assets/css/mdui.min.css"/>
    <link rel="stylesheet" href="./assets/css/style.css"/>
    <style>
    	*{
			margin: 0px;
			padding: 0px;
    	}
    	html, body{
    		min-height: 100vh;
    	}
    	body{
    		display: flex;
    		justify-content: center;
    		align-items: center;
    	}
    </style>
</head>
<body class="mdui-theme-accent-blue">
    <div class="mdui-container-fluid">
    		<div class="mdui-spinner" style="width:60px;height:60px;"></div>
    </div>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/mdui.min.js"></script>
<script src="./assets/js/index.js"></script>
<script>
var url = getRequestParam('url');
if(!url || !/^(https?:\/\/)/i.test(url)){
	mdui.alert('跳转地址不合法！');
	setTimeout(function(){
		window.history.back(-1);
	},2000)
}else{
	try {
		var targetHost = new URL(url).hostname;
		var currentHost = window.location.hostname;
		if (targetHost !== currentHost) {
			mdui.alert('仅支持站内跳转，外部链接不允许直接跳转！');
			setTimeout(function(){
				window.history.back(-1);
			},2000);
		} else {
			mdui.snackbar('将在<font color="red">1秒</font>后跳转请稍等');
			setTimeout(function(){
				window.location.href = url;
			},1000);
		}
	} catch(e) {
		mdui.alert('跳转地址不合法！');
		setTimeout(function(){
			window.history.back(-1);
		},2000);
	}
}
</script>
</body>
</html>