<a class="mdui-fab mdui-fab-fixed mdui-fab-hide mdui-ripple mdui-color-theme-accent" href="javascript:goTop();" id="fabUp" style="margin-bottom:60px;"><i class="mdui-icon material-icons">expand_less</i></a>
<script>var _csrfToken=<?php echo json_encode(generateCsrfToken());?>;</script>
<?php unset($_SESSION['csrf_token']); unset($_SESSION['csrf_token_time']);?>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/mdui.min.js"></script>
<script src="./assets/js/index.js"></script>
<?php $sparkle = !empty($config['sparkle_enabled']) && $config['sparkle_enabled'] !== '0'; ?>
<script>window._sparkleEnabled = <?php echo $sparkle ? 'true' : 'false'; ?>;</script>
<script src="./assets/js/sparkle.js"></script>